<div class="main-details" [ngStyle]="{'background-image': getImageUrl()}">
    <div class="left" *ngIf="!XSmallScreen">
        <img [src]="imageURL + 'w342' + movie.poster_path" alt="">
    </div>
    <div class="right">
        <h1>{{movie.title}}</h1>
        <div class="subtitle-details">
            <p>{{movieRating}}</p>
            <p>{{movie.release_date | date }}</p>
            <div class="genres">
                <span *ngFor="let genre of movie.genres">{{genre.name}}</span>
            </div>
            <p>{{movie.runtime}} minutes</p>
        </div>
        <h2>{{movie.tagline}}</h2>
        <p>{{movie.overview}}</p>
        <h3 class="production-header">Produced By</h3>
        <div class="production-companies">
            <div class="company" *ngFor="let company of movie.production_companies">
                <!-- <img *ngIf="company.logo_path" [src]="imageURL + 'w45' + company.logo_path" alt=""> -->
                <p>{{company.name}}</p>
            </div>
        </div>
        <div class="crew-div">
            <div>
                <h3>Directed By</h3>
                <div class="crew">
                    <p *ngFor="let director of directors">{{director.name}}</p>
                </div>
            </div>
            <div *ngIf="writers">
                <h3>Written By</h3>
                <div class="crew">
                    <p *ngFor="let writer of writers">{{writer.name}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="castContainer">
    <h1 class="castTitle">Cast:</h1>
    <div class="castInfo">
        <section *ngFor="let person of cast">
            <div class="card">
                <div>
                    <img mat-card-img src="https://image.tmdb.org/t/p/w185{{person.profile_path}}" alt="">
                </div>
                <h2 class="castName">{{person.name}}</h2>
            </div>
        </section>
    </div>
</div>