.main-details {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

.left {
    position: relative;
}

.right {
    width: 50%;
    position: relative;
    margin: 1.5rem 0;

    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .subtitle-details {
        display: flex;
        flex-wrap: wrap;

        p,
        div {
            margin-right: 1rem;
        }

        span {
            margin-right: .5rem;
        }
    }
}

.production-header {
    margin-bottom: 0;
}

.production-companies {
    display: flex;

    .company {
        margin-right: 1rem;
    }
}