<div [ngClass]="XSmallScreen ? 'xsmall-login' : 'login'">
  <div class="login-type-div">
    <button (click)="setGoogleLogin()" class="login-type-btn">
      Login with Google
    </button>
    <button (click)="setEmailLogin()" class="login-type-btn">
      Login with Email and Password
    </button>
  </div>
  <div *ngIf="googleLogin" class="google">
    <button (click)="loginUser()" mat-raised-button class="btn">
      Google Login
    </button>
  </div>
  <div *ngIf="!googleLogin" class="email">
    <form action="">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          [(ngModel)]="email"
          name="email"
          matInput
          placeholder="pat@example.com"
          required
        />
        <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          [(ngModel)]="password"
          name="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button (click)="emailLogin()" mat-raised-button class="btn">
        Login
      </button>
    </form>
  </div>
</div>
