<div class="searchBar">
    <mat-form-field class="formField" appearance="fill">
        <mat-label>Search Movies</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput" (keydown.enter)="getSearch()">
        <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-button (click)="getSearch()">Search</button>
</div>

<div class="movieContainer" *ngIf="!hasSearched">
    <div *ngFor="let movie of movies">
        <div class="customCard" routerLink="/details/{{movie.id}}">
            <h3 class="centered">{{movie.title}}</h3>
            <img mat-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Poster">
        </div>
    </div>
</div>

<div class="movieContainer" *ngIf="hasResults">
    <div *ngFor="let movie of returnedMovies">
        <div class="customCard" routerLink="/details/{{movie.id}}">
            <h3 class="centered">{{movie.title}}</h3>
            <img *ngIf="movie.backdrop_path" mat-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}"
                alt="Poster">
            <img class="notFoundImage" *ngIf="!movie.backdrop_path" mat-image src="../../../assets/images/noPoster.png"
                alt="Poster">
        </div>
    </div>
</div>

<!-- Shows if there is no results -->
<div *ngIf="!hasResults" class="noResultsMessage">
    <h1>
        No Movies Found
    </h1>
</div>