.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
        max-width: 350px;
        margin: 10px;
    }

}

.searchBar {
    text-align: center;
    margin: 10px;

    .formField {
        width: 500px;
    }
}