<div class="searchBar">
    <mat-form-field class="formField" appearance="fill">
        <mat-label>Search Movies</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput" (keydown.enter)="getSearch()">
        <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-button (click)="getSearch()">Search</button>
</div>

<div class="movieContainer" *ngIf="hasResults">
    <div *ngFor="let movie of displayedMovies">
        <div class="customCard">

            <h3 class="centered">{{movie.title}}</h3>

            <div class="clickArea" routerLink="/details/{{movie.id}}">
                <img *ngIf="movie.backdrop_path" mat-image src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}"
                    alt="Poster">
                <img class="notFoundImage" *ngIf="!movie.backdrop_path" mat-image
                    src="../../../assets/images/noPoster.png" alt="Poster">
            </div>
        </div>
    </div>
</div>

<!-- Shows if there is no results -->
<div *ngIf="!hasResults" class="noResultsMessage">
    <h1>
        No Movies Found
    </h1>
</div>

<!-- <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
</mat-menu> -->