.movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.customCard {
    text-align: center;
    position: relative;
    width: 550px auto;
    height: 281px;
    margin: 10px;
    background-color: grey;
    transition: .5s;

    img {
        width: 100%;
    }

    .notFoundImage {
        width: 500px;
        height: 281px;
    }

    .centered {
        color: white;
        position: absolute;
        width: calc(100% - 20px);
        background-color: rgba(64, 64, 64, 0.7);
        padding: 10px;
    }

    .clickArea {
        transition: .5s;
    }
}

.searchBar {
    text-align: center;
    margin: 10px;

    .formField {
        width: 500px;
    }
}

.noResultsMessage {
    text-align: center;
}

// .customCard:hover {
//     opacity: .6;
//     cursor: pointer;
// }

.clickArea:hover {
    opacity: .6;
    cursor: pointer;
}