<div class="rows">
    <div>
        <h1 class="rowTitle">Favorites:</h1>
        <div class="movieContainer">
            <div *ngFor="let movie of favorites">
                <div class="customCard">

                    <div class="header">
                        <div class="title">{{movie.movieTitle}}</div>
                        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                (click)="deleteFromList('favorites', movie.movieId, movie.movieTitle, movie.posterPath)">
                                <mat-icon>close</mat-icon>
                                <span>Remove from Favorites</span>
                            </button>
                            <button mat-menu-item routerLink="/details/{{movie.movieId}}">
                                <mat-icon>info</mat-icon>
                                <span>View Details</span>
                            </button>
                        </mat-menu>
                    </div>

                    <div class="clickArea" routerLink="/details/{{movie.movieId}}">
                        <img *ngIf="movie.posterPath" mat-image
                            src="https://image.tmdb.org/t/p/w185{{movie.posterPath}}" alt="Poster">
                        <img *ngIf="!movie.posterPath" mat-image src="../../../assets/images/noPoster.png" alt="Poster"
                            [ngStyle]="{'width': '185px', 'height': '279px'}">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <h1 class="rowTitle">Watch List:</h1>
        <div class="movieContainer">
            <div *ngFor="let movie of watchList">
                <div class="customCard">

                    <div class="header">
                        <div class="title">{{movie.movieTitle}}</div>
                        <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                (click)="deleteFromList('watchlist', movie.movieId, movie.movieTitle, movie.posterPath)">
                                <mat-icon>close</mat-icon>
                                <span>Remove from Watch List</span>
                            </button>
                            <button mat-menu-item routerLink="/details/{{movie.movieId}}">
                                <mat-icon>info</mat-icon>
                                <span>View Details</span>
                            </button>
                        </mat-menu>
                    </div>

                    <div class="clickArea" routerLink="/details/{{movie.movieId}}">
                        <img *ngIf="movie.posterPath" mat-image
                            src="https://image.tmdb.org/t/p/w185{{movie.posterPath}}" alt="Poster">
                        <img *ngIf="!movie.posterPath" mat-image src="../../../assets/images/noPoster.png" alt="Poster"
                            [ngStyle]="{'width': '185px', 'height': '279px'}">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="scrollButton" *ngIf="showScrollBtn" [@inOutAnimation]>
    <button mat-fab (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</div>



<!-- <button (click)="test()">test</button> -->